.header{
    width: 100%;
    height: 90px;
    background-color:rgb(45 63 96);
    top: 0%;
    left: 0%;
    position: fixed;
    display: flex;
    z-index: 1000;

}
ul{
    display: flex;
list-style: none;
margin-left: 350px;
}
.a2{
    font-family: "Host Grotesk", sans-serif;
    /* font-size: 18px ; */
    color: white;
text-decoration: none;
}
.a1{
    font-family: "Host Grotesk", sans-serif;
    font-size: medium;
    color: white;
text-decoration: none;
}
.btn1{
    border-radius: 80px;
    background-color: #47b2e4;
border: 0px;
width: 125px;
height: 35px;
margin-left:40px ;
margin-top: 30px;
}  
li{
    padding: 35px 20px 0px 40px;
}
h1{
    color:white !important;
    margin-left: 118px;
padding-top: 20px;
}
.a1:hover{
    color: #47b2e4;
}
.btn1:hover{
    background-color: #47b2e400;
    border: 2px solid white;
}
.section1{
    width: 100%;
height: 700px;
display: flex;
justify-content: center;
background-color: #37517e;
}
.div1 , .div2{
    width: 40% ;
    height: 500px ;
    /* border: 2px solid; */
    margin-top: 150px;
}
.div1{
    margin-top: 250px;
}
.img1{
    width: 95%;
    animation-name: move1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes move1 {
    0%{margin-top: 0px;}
    50%{margin-top: 20px;}
    100%{margin-top: 0px;}
}
 .nt1{
    margin-top: 800px;
    font-size: 50px;
    color: white;
    
 }
 .a3{
    color: white;
text-decoration: none;
font-size: 20px;
 }
 .btn2{ 
    border-radius: 80px;
    background-color: #47b2e4;
border: 0px;
width: 125px;
height: 35px;
/* margin-left:20px ; */
margin-top: 30px;
 }
.btn2:hover{
    background-color: #47b2e400;
    border: 2px solid white;

}
.a3:hover{
    color: #47b2e4;
  

}
.a4{
    color: white;
    text-decoration: none;

}
.it1{
    margin-left: 15px;
    font-size: 22.5px;
}
.p1{
    color: #dadada9c;
    font-size: 25px;
    font-weight: 600;
}
.section2{ 
width: 100%;
height: 1050px;
padding-top: 100px;
}
.parent-title{
width:100% ;
height: 60px;
display:flex ;
justify-content: center;

}
.line{
width: 50px;
height: 3px;
background-color: #37517e;
margin:23px 10px 0px 10px;
}
.p2{
    text-align: center;
}
.parent-title2{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}
.d1{
width:35% ;
height:750px ;
/* border: 1px solid; */
margin: 0px 35px;
}
.d2{
    width: 35% ;
    height: 750px;
    /* border: 1px solid; */
    margin: 0px 35px;
}
.ct1{
    font-size: 27px ;
    font-weight:700 ;

}
.img2{
    width: 100%;
    height: 450px;
    border-radius: 15px;
    margin-top: 10px;

}
.j1{
    color: rgb(42, 42, 42);
    font-style: italic;
    font-size: 16px;
}
.it2 {
    color: #37517e;
    font-size: 20px; 
}
.st1{
    font-weight: 600;
}
.img3{
    width: 100%;
    height: 350px;
    border-radius: 15px;

}
.it3{ 
    position: absolute;
    color: #37517e;
    margin-left: -285px;
    margin-top: 160px;
    font-size: 55px;
    z-index: 5;
}
.div5{
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    margin-top:-190px ;
    margin-left: 250px;
    border-radius: 50%;
    outline: 15px solid  #37517e62;
}
.section3{
    width: 100%;
    height: 800px;
    /* border: 2px solid; */
   
}
.div6{
    width: 450px;
    height: 250px;
    /* border: 2px solid; */
    background-color: white;
    border-radius: 20px;
    margin: 0px 10px;
    box-shadow: 10px 10px 25px rgb(181, 181, 181);
    transition: 0.5s;
    overflow: hidden;
}
.parent1{ 
    display: flex;
    width: 100%;
    height: 300px;
    /* background-color: #37517e; */
    justify-content: center;
   padding-top: 40px;
}
.div6:hover{ 
    margin-top: -20px;
    
}
.icon1{ 
    color: rgba(90, 152, 90, 0.556);
    font-size: 60px;
    margin-left: -25px;
    margin-top: 70px;
}
.hs1{ 
    margin: -100px 0px 10px 100px;

}
.ps1{ 
    padding-left: 100px ;
    padding-right:10px ;
}
.icon2{
   color: orange;
    font-size: 60px;
    margin-left: -25px;
    margin-top: 70px;
}
.icon3{
    color: rgba(17, 120, 120, 0.51);
     font-size: 60px;
     margin-left: -25px;
     margin-top: 70px;
 }
.div6:hover .hs1{ 
color: #37517e;
}
  .icon4{
color: red;
    font-size: 60px;
    margin-left: -25px;
    margin-top: 70px;
  }
  .icon5{ 
color: purple;
    font-size: 60px;
    margin-left: -25px;
    margin-top: 70px;
  }
  .icon6{
color: rgba(167, 77, 92, 0.941);
    font-size: 60px;
    margin-left: -25px;
    margin-top: 70px;
  }
  .parent2{
    width: 100%;
    height: 450px;
    /* background-color: aqua; */
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
   
  }
  .dt1{
    width: 400px;
    height: 400px;
    /* border: 2px solid; */
    margin: 0px 20px;
margin-top: 40px;
overflow: hidden;
position: relative;
box-shadow: 5px 5px 15px rgb(171, 170, 170);
border-radius: 10px;

  }
.im1{
    width:400px ;
    height: 300px;
    transition: 0.3s;

}
.dt1:hover .im1{
    scale: 1.1;

}
.po{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}
.ht1{
    font-size: 20px;
    margin-left: 10px;
    padding-top: 20px;
}
.pt3{
margin-left: 10px;
}
.section4{
    width: 100%;
    height: 2000px;

}
.parent3{
    width: 100%;
    height: 1000px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}
.div10{
    width: 300px;
    height: 400px;
    /* border: 2px solid; */
    margin: 0px 10px;
    overflow: hidden;
    border-radius: 5px;
    color: white;
    /* background-color: #353535; */
    background-color:rgb(45 63 96);
}
.images1{
    width: 300px;
    height: 300px;
}
.sv1{
    font-weight: 700;
margin-left: 10px;
font-family: "Raleway", sans-serif;
font-size: 20px;
margin-top: 15px;


}
.sl1{
    margin-left: 10px;
    color: #979a97;
}
.sv2{
    color: white;
}
.p3{
    color: white;
}
.section5{
    /* background-color: #1b1b1b; */
    background-color: #37517e;
padding-top: 40px;
width: 100%;
height: 800px;
}
.pos{
    width: 300px;
    height: 50px;
    /* background-color: rgb(255, 255, 255); */
    position: absolute;
    margin-top: 250px;
    text-align: center;
    opacity: 0;
}
.itn1{
    color: white;
background-color: #aaaa;
padding: 8px;
border-radius: 3px;
}
.div10:hover .pos{
    opacity: 1;
}
.itn1:hover{
    background-color:#37517e;
}
.parent4{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
    /* background-color: aqua; */
    margin-top: 50px;
}
.dtin1{
    width: 27%;
    height: 430px;
    background-color: #37517e;
    border-radius: 10px 0px 0px 10px;
}
.dtin2{
    width: 55%;
    height: 430px;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.532);
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}
.child1{
    width: 92%;
    height: 80px;
    border-radius: 10px 0px 0px 10px;
    margin-top: 20px;
    margin-left: 4%;
    background-color: #21314c77 ;
    display: flex;
    justify-content: space-around;
    color: white;
   
}
.lt1{
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
    background-color: #436bb13b ;
    /* background-color: #37517e; */
padding: 15px 15px 12px 15px;
border-radius: 80%;
}
.child1:hover .lt1{
    background-color: white;
    color: #37517e;
}
.section7{
    width: 100%;
    height: 320px;
    background-color: rgb(45 63 96);
    border: 1px solid;
    text-align: center;
 }
 .b51{
    text-align: center;
   font-weight: 700;
   /* font-family: "Nunito", sans-serif; */
   color: white;
   margin-top: 50px;
   font-size: 40px;
 }
 .pc1{
    /* text-align: center; */
    color: white;
    /* margin-left: 30%; */
 }
 .pl1{
    color: white;
    background-color: #47b2e4;
    padding: 8px;
    border-radius: 55px;
    justify-content: center;
    /* display:flex; */
    margin: 0px 2.5px;
}
.pl1:hover{
    background-color: #47b2e400;
    border: 1px solid;
}
/* .parent6{
    width: 100%;
    height: 1000px;
    border: 1px solid;
    display: flex;
    justify-content: center;
} */
.div15{
    width: 85%;
    height: 80px;
    /* border: 2px solid; */
    overflow: hidden;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.008);
    /* background-color: #0b2af8; */
    border-bottom: 1px solid rgb(164, 161, 161);
    margin-left: 7.5%;
}
.tnt1{
    color: white;
    margin-top: 20px;
    font-size: 15px;
}
.ip1{
    color: white;
margin-top: -15px;
font-size: 15px;
}
.span1{
    color: #47b2e4;
}
.span1:hover{
    text-decoration: underline;
}
.input1{
    width: 40%;
    height: 40px;
    margin: 25px 0px 0px 6%;
    padding: 10px 15px;
}
.input2{
    width: 86.5%;
    height: 40px;
    margin: 25px 0px 25px 6%;
}.input3{
    width: 86.5%;
    height: 200px;
    margin-left: 6%;
}.btn3{
    margin: 10px 0px ;

}
.btn3:hover{
    background-color: #47b2e401;
    border: 1.9px solid #47b2e4;
}
.btn3:hover .a2{
    color: #47b2e4;
}
.dd h4{
font-size: 20px;
margin-top: 15px;
}
.dd p{
    margin-top: -7px;
    font-size: 13px;
}
.tny1{
    width: 22%;
}
.dd{
    width: 78%;
}
.line1{
    background-color: white;
}
@media (max-width:991px) {
.section1{
    /* display: none; */
    /* background-color: antiquewhite; */
    display: flow-root;
    height: 800px;
}
.nt1{
    font-size: 25px;
}
.p1{
    font-size:15px ;
}
.btn2{
    font-size: 10px;

}
.div1{
height: 300px;
margin: auto;
margin-top: 125px;
} 
.div2{
margin-top: 0px;
margin: auto;
}
.section2{
    height: 1200px;
}
.it3{
margin-left: -190px;
display: none;
/* color:aquamarine ; */

}
.div5{
margin-left: 150px;
/* display: none; */
/* background-color: blue; */
}
.pt3{
    margin-top: -10px;
}
.pos{
margin-left: -30px;
}
.dd h4{
font-size: 15px;
}
.dd p{
    font-size: 10px;
}
.dd{
    width: 60%;
}
ul{
    margin-left: 0px;
    /* background-color: aquamarine; */

}
h1{
    margin-left: 50px;
}
.a1{
    font-size: 15px;
}
.btn1{
    display: none;
    /* margin-left: 0px; */
}
li{
    padding: 35px 10px 0px 10px;
}
.header{
    width: 90%;
}
}
